type project
id
    Freya.Core.Hopac
title
    Freya.Core.Hopac
description
    The core building blocks of the Freya web stack (Hopac implementation)
tags
    functional, web, f#, freya, hopac
version
    3.0.0-rc05
owners
    Andrew Cherry, Ryan Riley
authors
    Andrew Cherry, Ryan Riley
copyright
    Copyright Xyncro Ltd 2016
projectUrl
    https://freya.io
licenseUrl
    https://github.com/xyncro/freya-core/blob/master/LICENSE.md
requireLicenseAcceptance
    false
